
<app-header></app-header>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;시작날짜&nbsp;&nbsp;&nbsp;&nbsp;<ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;종료날짜&nbsp;&nbsp;&nbsp;&nbsp;<ng2-datepicker [options]="options" [(ngModel)]="date2"></ng2-datepicker>
<button (click)="dateValueFn()">날짜별 조회</button>
</div>
	<div class="col-md-12">
	<form class="form-horizontal form-horizontal_x">
	<div class="col-md-12">
	    <div class="form-group">

	      <div class="col-sm-4">
		 <select  name="hotel" id="hotel" required="" class="form-control" onchange="changeFormaction2(this.value);">
            <option value="" selected="">품종 조건설정</option>
            <option value="67961">Pride Plaza Hotel Ahmedabad</option>
            <option value="67964">The Pride Hotel Bengaluru</option>
    </select>

	        <!-- <input type="text" class="form-control" id="email" placeholder="Enter email"> -->
	      </div>

		  <div class="col-sm-4">
		 <select  name="hotel" id="hotel" required="" class="form-control" (change)="changeFormaction2($event.target.value);">
	          <option value="" selected="">지역 조건설정</option>
						<option *ngFor="let place of places" [value]="place.orgCd">{{place.orgdownNm}}</option>
	          <!--<option value="6110000">서울</option>
	          <option value="6260000">부산</option>
	          <option value="6270000">대구</option>
	          <option value="6280000">인천</option>
	          <option value="6290000">광주</option>
	          <option value="5690000">세종</option>
	          <option value="6300000">대전</option>
	          <option value="6310000">울산</option>
	          <option value="6410000">경기</option>
	          <option value="6420000">강원</option>
						<option value="6430000">충북</option> -->
	  </select>

	        <!-- <input type="text" class="form-control" id="email" placeholder="Enter email"> -->
	      </div>
	      <div class="col-sm-4">
		 <select  name="hotel" id="hotel" required="" class="form-control" onchange="changeFormaction2(this.value);">
          <option value="" selected="">상태 조건설정</option>
          <option value="67961">보호중</option>
          <option value="67964">종료</option>
          <option value="29191">기타</option>
    </select>

	        <!-- <input type="text" class="form-control" id="email" placeholder="Enter email"> -->
	      </div>
	    </div>
		</div>

	  </form>
	  </div>

<ul class="cards" *ngFor="let animal of animals">
  <li class="cards__item">
    <div class="card">
      <img class="card__image" [src]="animal.popfile">
      <div class="card__content">
        <div class="card__title">{{animal.processState}}</div>
        <p class="card__text">
					유기번호 : {{animal.desertionNo}}<br>
					품종 : {{animal.kindCd}}<br>
					발견일 : {{animal.happenDt}}<br>
					발견장소 : {{animal.happenPlace}}<br>
					공고시작일 : {{animal.noticeSdt}}<br>
					공고종료일 : {{animal.noticeEdt}}
				</p>
        <button class="btn btn--block card__btn" [routerLink]="['/detail/animal.desertionNo']">상세보기</button>
      </div>
    </div>
  </li>
</ul>
